

a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}
  
ul {
    font-size: 24px;
    color: white;
    list-style-type: none;
}

button {
    padding-left: 10px;
    padding-right: 10px; 
}

body {
    margin: 0px;
}

#placement {
    font-size: 90px;
}

  
.top-logo {
    font-size: 24px;
    font-weight: 900;
    
}

.logo-links {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #1f2937;
    color: white;

}

.nigga {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 150px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;


}

#queens {
    margin-bottom: 40px;
    margin-top: 40px;
}


.top-links {
    display: flex;
    gap: 16px;
}

.main-header {
    display: flex;
    
}

.ok {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 50px;
}


.image-containers {
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: center;
    padding-bottom: 90px;
}

.image-warp {
    height: auto; 
    width: auto; 
}

.information-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}





































